.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book__list {
    list-style-type: none;
    padding: 0px;
}

.book__input-title {
    margin: 50px auto 26px auto;
}

.book__input-language {
    margin-left: auto;
    margin-right: auto;
}

.book__title {
    margin-top: 50px;
    color: #1890ff;
}